<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do tasks</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <a href="{% url 'todo_list_update' todo_detail.id %}">Update list</a>
            <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete list</a>
             <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in todo_detail.items.all %}
                    <tr>
                        <td>{{ detail.task }}</td>
                        <td>{{ detail.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
